<!DOCTYPE HTML>
<html>
<head>
  </head>
  <body>
    <form method="POST" action="/form">
      <div>
      <label for="data">Data</label>
      <input type="text" name="data" placeholder="data en array" />  
    </div>
    <div>
      <label for="map">Map</label>
      <textarea name="map">
      </textarea>
    </div>
    <div>
      <label for="reduce">Reduce</label>
      <textarea name="reduce">
      </textarea>
    </div>
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>